/node_modules
/public/hot
#/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.sass-cache
.DS_Store
Thumbs.db
UserFiles
check_*.php
fix_*.php
*.sqlite
